@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@200&family=Merriweather+Sans:wght@500&family=Roboto:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#071d03,#092903);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
.inginOptions a{
    text-decoration: none;
    padding: 6px 20px;
    font-family: Anton;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a:hover.active
{
    background: #fff;
    color: #092903;
}

#btn
{
    text-decoration: none;
    display: inline-block;
    left: 20%;
    margin:  435px;
    padding: 8px 30px ;
    border-radius: 40px;
    background: #fff;
    color:#0b3504;
    font-size: 1.5em;
}
.container
{
    text-align: center;
    margin-top: 360px;
}

.btn
{
    border: 1px solid #fff;
    background: none;
    padding: 20px 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    margin: 500px;
    transition: 0.8s;
}
.btn1
{
    color: #292c28;

}
.btn1:hover
{
    color: #fff;
}

.btn1::before
{
    content:"";
    position: absolute;
    left: 0;
    height: 0%;
    width: 100;
    background: #fff;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before
{
    top:0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before
{
    height: 180%;
}

.welcome_sectin h1
{
    color: #fff;
    margin: 200px;
    font-size: 20px;
}